<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tech Poker</title>
    <script language="JavaScript" src="../static/js/jquery-3.1.1.min.js"></script>
    <script language="JavaScript" src="../static/js/bootstrap.min.js"></script>
    <script language="JavaScript" src="../static/js/qrcode.min.js"></script>
    <script language="JavaScript" src="../static/js/techpoker.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/techpoker.css">
</head>
<body>
<div class="container">
   <div id="joinQr" data-qr-url="http://localhost/session/3847599023409">

   </div>
</div>
</body>
</html>
