.poker-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    transition: 0.3s;
    border-radius: 10px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.poker-card:hover {
    -webkit-box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

/* Add some padding inside the card container */
.poker-card-content {
    padding: 1.2em 0em;
    text-align: center;
}

.blue-cards .poker-card {
    background-color: #477586;
    color: white;
}

.blue-cards .poker-card.selected {
    background-color: #659DBA;
}

.green-cards .poker-card {
    background-color: #719056;
    color: white;
}

.green-cards .poker-card.selected {
    background-color: #9ECB6B;
}

@media (min-width: 768px) {
    .action-bar {
        position: fixed;
        bottom: 0;
    }
}

body {
    padding-bottom: 45px;
}

.progress-bar {
    font-size: 1.4em;
}

.poker-card #joinQr img {
    margin-left: auto!important;
    margin-right: auto!important;
    vertical-align: middle;
}
