<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Tech Poker</title>
    <script language="JavaScript" src="../static/js/jquery-3.1.1.min.js" data-th-src="@{/js/jquery-3.1.1.min.js}"></script>
    <script language="JavaScript" src="../static/js/bootstrap.min.js" data-th-src="@{/js/bootstrap.min.js}"></script>
    <script language="JavaScript" src="../static/js/techpoker.js" data-th-src="@{/js/techpoker.js}"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" data-th-href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/techpoker.css" data-th-href="@{/css/techpoker.css}"/>
</head>
<body>
<div class="container">
    <div class="col-xs-12">
        <h1>Planning Poker</h1>

    </div>
    <form data-th-action="@{/join/__${gameId}__}" method="post">
        <div class="col-xs-6">
            <div class="input-group">
                <input type="text" name="playerName" class="form-control" placeholder="Nickname"/>
                <span class="input-group-btn">
                <input class="btn btn-success" type="submit" value="Join"/>
            </span>
            </div>
        </div>
    </form>
</div>
</body>
</html>
