<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="refresh" content="5"/>
    <title>Tech Poker</title>
    <script language="JavaScript" src="../static/js/jquery-3.1.1.min.js" data-th-src="@{/js/jquery-3.1.1.min.js}"></script>
    <script language="JavaScript" src="../static/js/bootstrap.min.js" data-th-src="@{/js/bootstrap.min.js}"></script>
    <script language="JavaScript" src="../static/js/techpoker.js" data-th-src="@{/js/techpoker.js}"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" data-th-href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/techpoker.css" data-th-href="@{/css/techpoker.css}"/>
</head>
<body>
<div class="container">
    <h2>Hello <span data-th-text="${playerName}" data-th-remove="tag"></span> </h2>
    <div class="blue-cards">
        <form id="voteForm" method="post">
            <input type="hidden" name="vote" value="" data-th-value="${vote}"/>

            <div class="col-xs-4" data-th-each="card : ${cards}">
                <div class="card" data-card="1" data-th-attr="data-card=${card}"
                     data-th-classappend="${vote == card} ? 'selected' : ''">
                    <h1 class="card-content" data-th-text="${ #messages.msg('card.values.' + card) }"></h1>
                </div>
            </div>
        </form>
    </div>

    <div class="col-xs-12">
        <a href="websocket-player.html" data-th-href="@{/wp#__${gameId}__,__${playerId}__}" id="reconnect" class="btn btn-default">Switch to Websocket</a>
    </div>
</div>
</body>
</html>
